<div class="jumbotron center">
    <h1>Welcome to Social Clean</h1>
    <p>Click here to Sign-up </p>
    <p><%= link_to "Sign-up", "#", class: :"btn btn-success" %>
      <%= link_to "Log in", "#", class: "btn btn-default" %>
    </p>
</div>
