<footer class="content-info" role="contentinfo" style="display: block;">
  <div class="container">

   <div class="row">
     <div class="col-sm-5">
     <h5>Social Clean <small>Web &amp; Graphic Design Agency</small></h5>
    <p>Via Jacopo Carrucci, 152  - 50053 Empoli (FI) <br>
       +39 0571 711155 - info@riotdesign.eu<br></p>

    <div id="fb-root"></div>
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Friotdesign.eu&amp;width=300&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=126287497453248" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:21px;" allowtransparency="true"></iframe>

     </div>
     <div class="col-sm-5">

     <h5>From the Blog<sup>Rd</sup></h5>
            <a href="/en/2014/04/10/wearable-technologies-revolutionary-tools-and-ludicrous-gadgets/">Wearable technologies: revolutionary tools and ludicrous gadgets</a>
    <p>The recent technological history has accustomed us to witness epochal changes that arise quietly and soon invade our lives, changing … <a href="http://riotdesign.eu/en/2014/04/10/wearable-technologies-revolutionary-tools-and-ludicrous-gadgets/">Continued</a></p>

           </div>
     <div class="col-sm-2 hidden-xs">
     <img class="slogan pull-right" src="/assets/che-il-buon-design-regni-sul-web.png" alt="May good design rule the Web" width="170" height="180">
     </div>


   </div>

  <hr>
  <div class="sotto-footer">


  <div class="icone-social">
  <a href="http://www.facebook.com/riotdesign.eu" target="_blank" class="icona-facebook"> </a>
  <a href="http://twitter.com/riot_design_eu" target="_blank" class="icona-twitter"> </a>
  <a href="http://plus.google.com/100562758917063789241/" target="_blank" class="icona-google-plus"> </a>
  <a href="http://www.flickr.com/groups/1705479@N23/" target="_blank" class="icona-flickr"> </a>
  <a href="http://instagram.com/riot_design" target="_blank" class="icona-instagram"> </a>
  </div>

   <p class="copyright"><a href="/en/privacy/">Privacy and legal notes</a> - © 2014 Riot Design</p>

     <div class="language_list"><ul><li><span>English</span></li><li><a class="noajax" href="http://riotdesign.eu/home/"><span>Italiano</span></a></li></ul></div>
  </div>

  </div>
</footer>